body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('images/photo1.png'); 
    background-size: cover, contain; 
    background-position: center;
    background-repeat: no-repeat;
    color: #4b2e1a;
    min-height: 100vh;
    height: auto;
}

.content-box {
    width: 60%;
    margin: 50px auto;
    padding: 30px;
    position: center;
    background-color: #fff8f0; 
    border: 2px solid #d4b59e;
    border-radius: 12px; 
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); 
    text-align: Center; 
}

footer {
    position: fixed; 
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #4b2e1a; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    z-index: 500;
}
.return-link {
    text-align: center;
    margin-top: 30px; 
    color: #4b2e1a;
    font-weight: bold; 
    display: block;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
}

img 
{
        max-width: 100%; 
        height: auto; 
        border-radius: 10px; 
        display: block; 
        margin: 20px auto; 
}
